#detail_page {

    .detail_content_card {
        @apply bg-white rounded-lg shadow px-4 mb-4;

        .detail_content_card_title {
            @apply font-bold py-3;
        }
    }

    .detail_content_schedule_item {
        @apply px-2.5 py-1.5 cursor-pointer rounded-lg border border-sgt-primary-default text-sgt-secondary-dark font-medium transition ease-linear duration-300;

        &:hover {
            @apply bg-sgt-primary-default;
        }
    }

    .slick-slide {
        .detail_content_small_thumbnail {
            div {
                position: relative;

                &:after {
                    content: "";
                    width: 100%;
                    height: 100%;
                    opacity: 0.38;
                    background: #000;
                    top: 0px;
                    right: 0px;
                    position: absolute;
                    display: inline-block;
                    @apply transition ease-linear duration-300;
                }
            }
        }

        &.slick-active {
            .detail_content_small_thumbnail {
                div {
                    &:after {
                        opacity: 0;
                    }
                }
            }
        }
    }


}

.ant-modal.sgt-booking-modal .ant-modal-content {
    padding: 0px;
    @apply rounded-lg;
}

.detail-tour-schedule-picker {
    visibility: hidden;
    width: 0;
    padding: 0;
}

.detail-tour-schedule-calendar {
    .ant-picker-cell {
        .sgt-picker-cell-special-date {
            @apply border border-sgt-primary-default;

            &:hover {
                @apply bg-sgt-primary-default #{!important};
            }
        }

        &.ant-picker-cell-selected,
        &:hover {
            .sgt-picker-cell-special-date {
                @apply text-black bg-sgt-primary-default #{!important};
            }
        }
    }

    .sgt-picker-cell-special-date-seats {
        position: absolute;
        width: 100%;
        z-index: 10;
        line-height: 1;
        bottom: 8px;
        left: 50%;
        font-size: 10px;
        font-weight: 600;
        transform: translateX(-50%);
        background: transparent;
        // @apply text-sgt-secondary-default;
    }
}